*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: #333;
    overflow: auto;
}

a{
    color: #333
}

#navbar a{
    color: #fff;
}

#navbar h1{
    float: left;
}

#navbar ul{
    float: right;
    list-style-type: none;
}