*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    position: relative;
    background-color: black;
    padding: 15px 20px;
   

}
header h1{
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    color: #fff;
    padding: 5px 10px;
    
}


li{
    display: inline;
    position: relative;
    
}

 li a{
    
   
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 50px;
    width: 50px;
 
   
    
    
   
    
    
}



/* .hero{
    margin-top: 50px;
    background-image: url("img/showcase.jpg");
    width: 100%;
    height: 500px;
} */
/* .hero-box h2, .hero-box p{
    text-align: center;

    
} */


.hero-box button{
    
    margin: auto;
}