/* h2#green-heading{
    color: green;
} */

/* body{
    background-color: #333;
}
.primary-heading{
    color: green;
}

#welcome{
    background-color: #f4f4f4;
} */

/* multiple selectors */
/* #welcome, #about{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
}

#welcome p{
    font-size: 20px;
}
#about{
    color: #fff;
} */

/* body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height:1.6em;
}

#welcome p span{
    font-weight: bold;

}

#about p span{
    font-style: italic;
   

}

 */

 /* color name */

 /* h1{
    color: red;
 }

 h2{
    color: rgb(200,55,0);
 } */


 /* hex */
/* 
 h3{
    
    color: #00ff00;
 } */

    /* *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } */

    *{
        box-sizing: border-box;
    }
    .container{
        max-width: 960px;
        margin:40px  auto;
        /* the issue with just using width is the responsiveness, it does not respond well to different screen sizes */
        /* but with max-width this issue is solved */
    }

    body{
        line-height: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
    }

    .box{
        background: #f4f4f4;
        border: 2px solid #333;
        margin-bottom: 15px;
        padding: 20px;
        /* text-align: center; */
    }

    .box p{
        /* Aext Align  */
        text-align: center;
        text-align: justify;
    }
    #box-2{
        float:left;
        width: 68%;
    }
    #box-3{
        width: 30%;
        float: right;
    }
    .clr{
        clear: both;
    }