*{
    border:0;
    margin: 0;
}


/* Utility class */

html, body{
    
   
}

.box{
    border: 1px solid #fafafa;
    padding: 20px;
    text-align: center;
    background-color: #fafafa;
}
.box i, .box p{
    padding: 20px 0;
    color: #444;
}

.large-text{
    font-size: 3.5rem;
    line-height: 3rem;
    padding: 20px;
}

#navbar{
    text-align: center;
    background-image: url("../image_resources/home/showcase.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    opacity: 0.95;
   
    
}



.btn{
    display: inline-block;
    padding: 10px 15px;
    margin-top: 1rem;
    color: #fff;
    background-color: greenyellow;
  

}
.logo{
    
   
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size: 2rem;
}
.logo span{
    color: greenyellow;
}
a{
    color: #444;
    text-decoration: none;
}
#navbar ul{
    list-style-type: none;
}

#navbar ul li{
    display: inline-block;
   
    
}

#navbar ul li a{
    
    display: block;
    padding: 10px 10px;
    text-align: center;
    font-size: 1.3rem;
  
    color: #fff;
    
}

#navbar h3, #navbar p{
    color: #fff;
}

#navbar h3{
    
    margin-top: 150px;
    font-size: 3rem;
}

#navbar p{
    font-size: 1.5rem;
    text-align: center;
}

#people img{
    width: 100%;
    
}

#bespoke{
    background-color: yellowgreen;
    color: #fff;
   
}


#bespoke p, #case p{
    font-size: 1.6rem;
    padding:5px 15px;
    line-height: 1.2rem;
    
}

#bespoke a{
    margin-left: 20px;
}

#case{
    background-color: #f4f4f4;
    text-align: center;
   
   
}

#case .case-img{
    width: 80%;
    display:block;
    margin:10px auto;
    
    
}

#case .case-img img{
    
    width: 100%;
    
}




