:root{
    --light-text:white;
    --home-bg:steelblue;
    --max-width: 1200px;
    --btn-bg:#f4f4f4;
    --btn-text:#444;
}

*{
    padding: 0;
    margin: 0;
}

header{

    background-color: var(--home-bg);
    
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
}
header .content > h1{
    /* transition-property: all;
    transition-duration: 5s;
    transition-timing-function: ease;
    transform: translateY(-30px);     */
   
    font-size: 3rem;
    color: var(--light-text);
    
    
}
section .content > h1{
    margin: 20px 0;

}

header .content> p{
    padding: 20px;
    margin: 0 20px;
    font-size: 1.2rem;
    color: var(--light-text);

    animation-name: top-down;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

/* Utility classes */
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    color: var(--btn-text);
    background-color: var(--btn-bg);


}
.btn-container{
    display: flex;
    margin-top: 30px;
    

}
.btn-dark{
    display: inline-block;
    padding: 10px 20px;
    color: var(--btn-bg);
    background-color: var(--btn-text);
    margin-right: 20px;
    
}




